/***** GENERAL ******/
html{ height: 100%; }
body { 
	background: url("../img/bg.jpg") no-repeat; 
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	color: #333;

}

form { margin: 0; }

.spacer { margin: 40px 0; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.center {
	margin-left: auto !important;
	margin-right: auto;
	float: none !important;
}
.well { 
	background-color: rgba(245, 245, 245, 0.7); 
	border: 1px solid rgba(227, 227, 227, 0.7);
	min-width: 290px;
}

.alert { 
	padding: 0;
	padding: 10px 0;
	position: relative; 
}
.alert .close {
	position: absolute;
	top: 7px;
	right: 10px;
	line-height: 20px;
}
.row-fluid [class*="span"] { min-height: inherit; }


.input-form {
	padding: 10px !important;
	width: 93%;
}


/*LISTA PRODOTTI*/
.prodotti { 
	width: 70%; 
	float: left; 
	margin-top: 80px;
}
.prodotti ul { 
	list-style-type: none; 
	margin: 20px;
}
.prodotti ul li {
	background: rgba(54,206,133,0.9);
	width: 200px;
	border-radius: 5px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.prodotti ul li .image {
	border-radius: 1000px;
	width: 100px;
	height: 100px;
	text-align: center;
	background-size: cover !important;
	margin: auto;
	line-height: 100px;
} 
.prodotti ul li .image span { 
	display: none;
	font-size: 50px;
	line-height: 85px;
	font-weight: bold; 
}
.prodotti ul li h2 {
	font-size: 18px;
	color: #FFF;
	line-height: 20px;
}
.prodotti ul li h3 {
	font-size: 14px;
	color: #FFF;
	line-height: 20px;
	font-weight: normal;
}

.prodotti ul li h3 img { margin-right: 5px; }
.prodotti ul li .info {
	position: relative;
	color: #fff;
}
.prodotti ul li .info p { padding-top: 45px; }
.prodotti ul li .info span {
	background: #666;
	color: #FFF;
	position: absolute;
	top: 0;
	border-radius: 100px;
	height: 21px;
	width: 38px;
	text-align: center;
	left: 50%;
	margin-left: -19px;
	padding: 9px 0;
}
.prodotti ul li .desc {
	display: none;
	margin: 0;
}
.prodotti h1 { margin-left: 20px; font-weight: normal; font-size: 24px; color: #333;}
.side-bar { 
	width: 30%; 
	min-width: 280px;
	height: 100%;
	position: fixed;
	right: 0;
	color: #fff;
	overflow: scroll;
	z-index: 10;
	background:rgba(239,105,87,0.9);
}

.side-bar h4, .side-bar h2, .side-bar h3, .side-bar h5 { 
	font-weight: normal;
	margin-bottom: 20px;
}

/* HEADER SECTION */
.header {
	padding: 10px 0;

	background: rgba(243, 0, 0, 0.9);
	position: fixed;
	z-index: 20;
	color:#FFF;
} .header div:first-child { padding-left: 20px; }
.user { padding-right: 20px; }
.user-img {
	height: 50px;
	width: 50px;
	border-radius: 1000px;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 10px;
	border: 5px solid #fff;
} .side-bar .user-img { border: 5px solid #4e4e4e; margin-bottom: 10px; } 
.fr { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:24px;  margin-left:5px;}
/*GRUPPI*/
.gruppo{
	border-bottom: 1px dotted #ccc;
	padding: 15px 0;
	margin-top: 80px;
}


/*LISTA DELLA SPESA*/
.lista{
	padding: 15px;
	margin-bottom: 50px;
}
.lista ul { list-style-type: none; margin: 0; }
.lista .subtotal {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 36px;
}

.lista .quantity {
	-webkit-user-select:none;
}
.lista .quantity span:first-child, .lista .quantity span:last-child {
	border: #666 1px solid;
	color: #666;
	border-radius: 100px;
	height: 10px;
	width: 10px;
	text-align: center;
	display: inline-block;
	line-height: 8px;
	cursor: pointer;
}
.lista .partial {
	display: inherit;
	margin-right: -10px;
}