/***** GENERAL ******/
html{ height: 100%; }
body { 
	background: url("../img/bg.jpg") no-repeat; 
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	color: #333;

}

form { display: inline; }

.status {
	position: fixed;
	bottom: 0;
	left: 50%;
	background: #65E080;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px 50px 0px 50px;
}

.spacer { margin: 40px 0; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.center {
	margin-left: auto !important;
	margin-right: auto;
	float: none !important;
}
.btn:focus {
	outline: none;
}
.well { 
	background-color: rgba(245, 245, 245, 0.7); 
	border: 1px solid rgba(227, 227, 227, 0.7);
	min-width: 290px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.well div.text-center { margin-top: 10px; }
/*.well a {
	text-decoration: none;
	color: #666;	
} .well a:hover { color: #333; }*/
.well input {
	margin-bottom: 6px;
}

/*video html5*/
#video-viewport {
    position: absolute;
    top: -100%;
    overflow: hidden;
    z-index: -1; /* for accessing the video by click */
    opacity: 0;
}
.video-control{
	background: url("../img/closev.png");
	position: absolute;
	z-index: 100000;
	top: 20px;
	right: 30px;
	width: 50px;
	height: 50px;
	background-size: cover;
	cursor: pointer;
} .video-control:hover {
	opacity: .8;
}
.startvideo {
	font-weight: 600;
	font-size: 22px;
	margin-top: 25px;
	letter-spacing: 1px;
	cursor: pointer;
} .startvideo:hover { opacity: .8; }
.startvideo i { margin-top: 6px; }
/*#debug {
    position: absolute;
    top: 0;
    z-index: 100;
    color: #fff;
    font-size: 12pt;
}*/


.alert { 
	padding: 0;
	padding: 10px 0;
	position: relative; 
}
.alert .close {
	position: absolute;
	top: 7px;
	right: 10px;
	line-height: 20px;
}
.row-fluid [class*="span"] { min-height: inherit; }


.input-form {
	padding: 10px !important;
	width: 93%;
}


/*LISTA PRODOTTI*/
.prodotti { 
	width: 70%; 
	float: left; 
	margin-top: 80px;
}
.prodotti ul { 
	list-style-type: none;
	margin: 20px;
	overflow: auto;
}
.prodotti ul li {
	background: rgba(54,206,133,0.9);
	width: 200px;
	border-radius: 5px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	height:294px;
  	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  	-moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  	box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  	position: relative;
}
.prodotti ul li .image {
	border-radius: 1000px;
	width: 100px;
	height: 100px;
	text-align: center;
	background-size: cover !important;
	margin: auto;
	line-height: 100px;
	background-position: 50% 50% !important;
} 
.prodotti ul li .image span { 
	display: none;
	font-size: 50px;
	line-height: 85px;
	font-weight: bold; 
}
.prodotti ul li h2 {
	font-size: 18px;
	color: #FFF;
	line-height: 20px;
}
.prodotti ul li h3 {
	font-size: 14px;
	color: #FFF;
	line-height: 20px;
	font-weight: normal;
}

.prodotti ul li h3 img { margin-right: 5px; }
.prodotti ul li .info {
	position: relative;
	color: #fff;
}
.prodotti ul li .info p { padding-top: 45px; }
.prodotti ul li .info span {
	background: #666;
	color: #FFF;
	position: absolute;
	top: 0;
	border-radius: 100px;
	height: 21px;
	width: 38px;
	text-align: center;
	left: 50%;
	margin-left: -19px;
	padding: 9px 0;
}
.prodotti ul li .desc {
	display: none;
	margin: 0;
}
.prodotti h1 { margin-left: 20px; font-weight: normal; font-size: 24px; color: #333;}
.side-bar { 
	width: 30%; 
	min-width: 280px;
	height: 100%;
	position: fixed;
	right: 0;
	color: #333;
	overflow: scroll;
	z-index: 10;
	background:rgba(255,255,255,0.7);
}

.prodotti ul li a { text-decoration: none; color: #fff; cursor: pointer; } .prodotti ul li a:hover { opacity: .8; }

.side-bar h4, .side-bar h2, .side-bar h3, .side-bar h5 { 
	font-weight: normal;
	margin-bottom: 20px;
}

/* RIBBON */
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-wrapper-green.alt {
	width: 93px;
	height: 95px;
}

.ribbon-green {
  font: bold 10px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -8px;
  top: 20px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green.alt {
	left: -3px;
	top: 13px;
	width: 130px;
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

/* HEADER SECTION */
.header {
	padding: 10px 0;

	background: rgba(239, 105, 87, 0.9);
	position: fixed;
	z-index: 20;
	color:#FFF;
	top: 0;
} .header div:first-child { padding-left: 20px; }
.header a:link, .header a:visited { color:white; text-decoration: underline; font-size:12px;}
.user { padding-right: 20px; }
.user-img {
	height: 50px;
	width: 50px;
	border-radius: 1000px;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 10px;
	border: 5px solid #fff;
}
.user div { font-size:12px;} 
.side-bar .user-img { border: 5px solid #4e4e4e; margin-bottom: 10px; } 
.fr { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:24px;  margin-left:5px;}
/*GRUPPI*/
.gruppo{
	border-bottom: 1px dotted #ccc;
	padding: 15px 0;
	margin-top: 80px;
}

.terms {
	padding: 10px 0;
	background: rgba(255, 255, 255, 0.5);
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 13px;
	color: #777;
	width: 30%;
	min-width: 280px;
}
.terms ul { margin: 0; margin-left: 20px; }
.terms ul li { display: inline-block; padding: 0 20px; border-right: 1px solid #777; line-height: 13px; }
.terms ul li:first-child { padding-left: 0; }
.terms ul li:last-child { border-right: none; padding-right: 0; }
.terms a { color: inherit; text-decoration: none; }
.terms a:hover { opacity: .9; }


/*LISTA DELLA SPESA*/
.lista{
	padding: 15px;
	padding-top:90px;
	margin-bottom: 90px;
}
.lista ul { list-style-type: none; margin: 0; }
.lista .subtotal {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 36px;
}

.checkout { list-style-type: circle !important; margin: 8px 0 0 25px !important; }
.checkout li { padding-right: 177px; } .checkout li em { text-decoration: line-through; }

.lista .quantity {
	-webkit-user-select:none;
	min-width: 60px;
}
.lista .quantity span:first-child, .lista .quantity span:last-child {
	border: #666 1px solid;
	color: #666;
	border-radius: 100px;
	height: 10px;
	width: 10px;
	text-align: center;
	display: inline-block;
	line-height: 8px;
	cursor: pointer;
}
.lista .partial {
	display: inherit;
	margin-right: -10px;
}
.lista .quantita { 
	min-width: 28px;
	display: inline-block;
	text-align: center;
}

.confirm {
	width:30%;
	min-width: 280px;
	margin: auto;
	margin-top:30px;
	padding: 30px;
	padding-top:90px;
	position: relative;
	background: rgba(255,255,255,0.6);
	border-radius: 10px;
	min-width: 500px;
}
.confirm h1 {
	font-size:24px;
	font-weight: normal;
	text-align: center;
	margin-top: 10px;
}
.confirm.alt {
	width: 70%;
	margin-bottom: 50px;
}

#termini form ul { list-style: none; }
#termini form input[type="radio"] { margin-top: -3px; }

/***** THIS IS FOR THE DEACTIVATED PRODUCTS *****/
.prodotti ul li.end { 
	opacity: .6;
	cursor: default;
}
.prodotti ul li.end:after {
	/*content: "Esaurito";
	text-align: */
}

.errormsg {
	padding: 8px 35px 8px 14px; 
	margin-top: 85px;
}

/*************************************** CASSETTA **********************************************/
.cassetta {}
.cassetta ul { 
	list-style: none;
	margin: 0;
	text-align: center;
	margin-bottom: 40px;
	width: 100%;
	display: table;
	table-layout: fixed;
	overflow: hidden;
}
.cassetta li { 
	display: inline-block;
	text-align: center;
	padding: 5px;
	width: 20%;
	position: relative;
}
.disabled { opacity: .5; }
.cassetta .image {
	height: 100%;
	width: 100%;
	border-radius: 1000px;
	text-align: center;
	background-size: cover !important;
	line-height: 100px;
	background-position: 50% 50% !important;
	margin: 20px auto;
}
.cassetta .interaction {
	position: absolute;
	top: 50%;
	margin-top: -13px;
	width: 100%;
	margin-left: -5px;
}
.cassetta button { 
	padding: 2px 5px;
}
.cassetta .alert {
	cursor: pointer;
}
.cassetta .alert:hover { background: #CAE2C0; border-color: #B4C9A3; }

.cassa .alert {
	cursor: pointer;
}
.cassa .alert:hover { background: #CAE2C0; border-color: #B4C9A3; }
.cassa .interaction {
		position: absolute;
		right: 9px;
		top: 8px;

		-webkit-transition: all 200ms linear;
		-moz-transition: all 200ms linear;
		-o-transition: all 200ms linear;
		-ms-transition: all 200ms linear;
		transition: all 200ms linear;

	} .cassa .interaction.active { 
		transform:rotate(135deg);
		-ms-transform:rotate(135deg); /* IE 9 */
		-webkit-transform:rotate(135deg); /* Safari and Chrome */
		top: 10px;
	 }




/********************** NEW INTRO ****************************/
.prev, .next{
	position: absolute;
	left: -15%;
	border-radius: 100px;
	text-align: center;
	top: 250px;
	z-index: 100;
	cursor: pointer;
	} .next { right: -15%; left: inherit; }
.wrapper {
	color: #fff;
	font-size: 16px;
	letter-spacing: .8px;
	font-weight: 200;
	line-height: 24px;
	
	z-index: 100;
	overflow: hidden;
	width: 500px;
	margin: auto;
	min-width: 400px;
	background: #ef6957;
	position: relative;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.35)

	-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
@-moz-document url-prefix() {
    .wrapper {
        font-weight: 300;
    }
}

.wrapper p.title {
	font-size: 26px;
	letter-spacing: 1px;
	font-weight: 300;
	line-height: 28px;
}
.wrapper .content{
	width: 400%;
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
	-webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
[class^="slide"] {
	width: 24%;
	display: inline-block;
	float: left;
	text-align: center;
	padding: 40px 10px 30px 10px;
}
.wrapper .bottom {
	background: #EFEFEF;
	border-bottom: 5px solid #D8D8D8;
	padding: 22px 20px;
	height: 40px;
}
.wrapper .pointers {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 105px;
	margin-left: -15px;
} .wrapper .pointers ul { margin: 0; } .wrapper .pointers li {
	display: inline-block;
	background: #ED978E;
	height: 8px;
	width: 8px;
	border-radius: 100px;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	margin-right: 50px;
} .wrapper .pointers li.active { background: white !important; } .wrapper .pointers li:last-child { margin-right: 0; }

.wrapperform {
	width: 500px;
	background: #EFEFEF;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	z-index: 1000;
}
#login { top: -264px; } #signup { 
	top: -760px; 
	-webkit-box-shadow: 0px -500px 200px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px -500px 200px 0px rgba(0, 0, 0, 0.35)
}
.wrapper.interaction { overflow: visible; z-index: 1001; }
.spacerz { height: 30px; }

.login, .signup, .btn-mod {
	width: 120px;
	height: 40px;
	border-radius: 2px;
	background: #D9534F;
	border: 1px solid #D43F3A;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .8px;
	display: inline-block;
	cursor: pointer;
} .login:hover { background: #D56764; } .login:focus, .signup:focus, .back:focus { outline: -webkit-focus-ring-color auto 2px; }
.signup, .back {
	color: #333;
	background: #fff;
	border: 1px solid #ccc;
	font-weight: 400;
	letter-spacing: 0px;
} .signup:hover, .back:hover { opacity: .85; }
.back {
	width: 28px;
	height: 28px;
	position: absolute;
	left: 24px;
	top: 7px;
}


form { 
	width: 90%;
	margin: auto; 
	} 
	form input.big { 
		height: 42px;
	}
	.form-title {
		position: relative;
		color: #4f4f4f;
		margin: 25px 0;
		text-shadow: 0px 1px 0px #ffffff;
        filter: dropshadow(color=#ffffff, offx=0, offy=1);
	}
	.login-form, .signup-form{ display: block; }

.control-group {position: relative;}
.help-inline {
	position: absolute;
	right: 0;
	top: 0;
	background: #B94A48;
	padding: 11px 15px;
	border-radius: 5px;
	color: #FFF !important;
	font-weight: 100;
	letter-spacing: .7px;
	height: 38%;
}

input[type=checkbox] {
	visibility: hidden;
}



/* SQUARED FOUR */
.squaredFour {
	width: 20px;
	position: relative;
	display: inline-block;
	margin-right: 10px;
}

.squaredFour label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredFour label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/********************** NEWS SECTION ****************************/
.news {
	font-size: 18px;
	overflow: hidden;
	width: 500px;
	margin: auto;
	background: rgba(239, 239, 239, 0.6);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.35) -webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	padding: 100px 30px 0 30px;
	text-align: center;
}

.news h2 { font-size: 26px; }
.news h3 { font-size: 18px; font-weight: 400; color: #B3B3B3; }

.news .article {
	margin-top: 120px;
	margin-bottom: 50px;
	width: 500px;
	background-size: cover !important;
	border-radius: 6px;
	position: relative;
	font-size: 16px;
}

.news .social {
	position: absolute;
	right: 8px;
	top: 9px;
	-webkit-user-select: none;
}

.news .social div {
	background-image: url("../img/socialsprite.png"); 
	width: 45px;
	height: 45px;
	display: inline-block;
	border-radius: 6px;
	background-color: rgba(17, 17, 17, 0.3);
	cursor: pointer;
	margin: 0;
	background-repeat: no-repeat;
	transition: all .4s;
	-webkit-transition: all .4s;
}
.news .social .like { background-position: 0 0; overflow: hidden; margin-right: 5px; }
.news .social .liked { background-position: 0px 45px; background-color: rgba(239, 105, 87, 0.6); }
.news .social .like:hover { background-position: 0px 45px; }
.news .social .share { background-position: -45px 0; }
.news .social .like:hover, .news .social .share:hover { background-color: rgba(239, 105, 87, 0.6); }
.news .social span {
	color: #FFF;
	font-size: 28px;
	line-height: 45px;
	position: relative;
	top: -80px;
	transition: all .4s;
	-webkit-transition: all .4s;
}
.news .social .like:hover span, .news .social .liked span { top: 0; }


.news .author {
	position: absolute;
	left: 50%;
	margin-left: -45px;
	margin-top: -50px;
}
.news .author .person{
	background-size: contain !important;
	border: 5px solid #FFF;
	width: 90px;
	height: 90px;
	border-radius: 1000px;
}
.news .author .grade{
	width: 35px;
	height: 35px;
	margin: auto;
	margin-top: -15px;
}

.news .headline {
	color: #FFF;
	padding: 12px 0;
	background: rgba(17, 17, 17, 0.3);
	margin-top: 65px;
	display: inline-block;
	width: 100%;
	font-size: 14px;
}

.news h4 { font-size: 21px; margin-bottom: 15px; }
.news .text { 
	color: #FFF;
	padding: 0 38px;
	font-size: 14px;
	margin-bottom: 20px;
}
.news p {
	text-align: left;
	color: #b3b3b3;
}
.news .showmore { color: #EF6957; text-decoration: underline; cursor: pointer; }
.news .showmore:hover { opacity: .9; }

.news .backdrop {
	position: relative;
	margin-top: 110px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 30%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 30%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 30%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 30%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 30%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
	border-radius: 6px;

}

button.action {
	color: #E5502E;
	border: 2px solid #E5502E;
	border-radius: 100px;
	height: 40px;
	cursor: pointer;
	margin-bottom: 25px;
	background: none;
	text-transform: uppercase;
	padding: 0 20px;
	font-size: 13px;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	letter-spacing: .8px;
}
button.action:hover {
	background: rgba(229, 80, 46, 0.2);
}

.forward { 
	position: fixed;
	right: 30px;
	bottom: 50px;
	color: #FFF;
	font-size: 25px;
	font-weight: 500;
	cursor: pointer;
} .forward:hover { opacity: .8; }
.forward span {  }


/**************** POLLI MODAL ***********************/
#modal-polli h4{
	font-size: 21px;
	font-weight: 600;
}
#modal-polli h5{
	color: #b1b1b1;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: .8px;
}
#modal-polli ul{
	list-style-type: none; 
	margin: 0px;
}
#modal-polli .modal-body {
	padding: 15px 32px;
}
#modal-polli #modal-footer {
	padding: 20px 32px 20px;
}
#modal-polli .ribbon-wrapper-green{
	top: 11px;
	right: 52px;
}
#modal-polli .quantity {
	-webkit-user-select:none;
	min-width: 60px;
}
#modal-polli .quantity span:first-child, #modal-polli .quantity span:last-child {
	border: #666 1px solid;
	color: #666;
	border-radius: 100px;
	height: 10px;
	width: 10px;
	text-align: center;
	display: inline-block;
	line-height: 8px;
	cursor: pointer;
}
#modal-polli .partial {
	display: inherit;
	margin-right: -10px;
}
#modal-polli .quantita { 
	min-width: 28px;
	display: inline-block;
	text-align: center;
}

.prodotti ul li.openpolli {
	background: #FCF8E3;
}
.prodotti ul li.openpolli h2, .prodotti ul li.openpolli a, .prodotti ul li.openpolli .info { color: #C09853; }
.prodotti ul li.openpolli .info span { background: #C09853; }



/************ PRODOTTI PRENOTATI *******************/
.reservations{
	padding: 15px;
	padding-top: 0;
	margin-bottom: 35px;
}
.reservations ul {
	list-style-type: none;
	margin: 0;
}

/*ADMIN*/
.target {
	width: 100%;
	visibility: inherit !important;
	min-height: 30px;
}